$background-color: #1a1818;
$text-color: #e0e0e0;
$primary-color: #48a2ec;
$secondary-color: #03badade;
$progress-color: #4caf50;
$button-hover-color: darken($primary-color, 10%);
$correct-color: #4caf50;
$incorrect-color: #f44336;
$incorrect-button-hover-color: darken($incorrect-color, 10%);
$skip-color: #ff9800;
